In [1]:
from pyspark import SparkContext
from pyspark.sql.session import SparkSession
from pyspark.sql import SQLContext, Row  
from pyspark.sql import functions as F
sc =SparkContext()
spark = SparkSession(sc)
sqlContext=SQLContext(sc)

In [2]:
temp_csv = spark.read.csv("temperature-readings-tiny.csv", header=False,sep=";")
df=temp_csv.selectExpr("_c0 as Station_number", "_c1 as Date", "_c2 as Time", "_c3 as Temperature","_c4 as Quality")
df=df.withColumn('Date',F.to_date("Date", "yyyy-MM-dd"))
df.createOrReplaceTempView("temps_table")

In [3]:
query_over10_distinct=" SELECT YEAR(Date) AS year , MONTH(Date) AS month ,COUNT(DISTINCT(Temperature)) AS count \
FROM temps_table WHERE FLOAT(Temperature) >=10 AND YEAR(Date) >=1950 AND YEAR(Date) <= 2014 GROUP BY year,month ORDER BY year,month ASC"

spark.sql(query_over10_distinct).show()

+----+-----+-----+
|year|month|count|
+----+-----+-----+
|1955|    9|   35|
|1955|   10|   20|
|1956|    3|    4|
|1956|    4|    5|
|1956|    5|   44|
|1956|    6|   58|
|1956|    7|   76|
|1956|    8|   49|
|1956|    9|   30|
|1956|   10|   13|
|1957|    3|    1|
|1957|    4|   13|
|1957|    5|   33|
|1957|    6|   51|
|1957|    7|   69|
|1957|    8|   58|
|1957|    9|   27|
|1957|   10|    8|
|1958|    4|    3|
|1958|    5|   31|
+----+-----+-----+
only showing top 20 rows