# BDA1 - Spark - Exercises

__Student: Phillip Hölscher__

In this set of exercises you will work exclusively with Spark. This means that in your programs, you only need to create the SparkContext .
In a number of exercises you will be asked to calculated temperature averages (daily and monthly). These are not always computed according to the standard definition of ‘average’. In this domain the daily average temperature is calculated by averaging the daily measured maximum and the daily measured minimum temperatures. The monthly average is calculated by averaging the daily maximums and minimums for that month. For example, to get the monthly average for October, take maximums and minimums for each day, sum them up and divide by 62 (which is the same as taking the daily averages, summing them up and divide by the number of days).

## Assignments

#### set up

In [1]:
# make set up
from pyspark import SparkContext, SparkConf

In [ ]:
"Working path"
#path /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2

In [3]:
# Remove UTF-8 BOM
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/stations-Ostergotland.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/stations.csv

7="~/Desktop/temperature-readings.csv" 64728769L, 2146781232C
"~/Desktop/temperature-readings.csv" 64728769L, 2146781232C written
>87="~/Desktop/precipitation-readings.csv" 20292769L, 661060228C
"~/Desktop/precipitation-readings.csv" 20292769L, 661060228C written
>87="~/Desktop/stations-Ostergotland.csv" [dos] 34L, 2860C
"~/Desktop/stations-Ostergotland.csv" [dos] 34L, 2860C written
>87="~/Desktop/stations.csv" 812L, 67697C
"~/Desktop/stations.csv" 812L, 67697C written
>8

In [20]:
# Remove UTF-8 BOM
'''
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/temperature-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/precipitation-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/stations-Ostergotland.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/stations.csv
'''

VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"

In [4]:
# Remove UTF-8 BOM
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings-tiny.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings-tiny.csv

7="~/Desktop/temperature-readings-tiny.csv" 10000L, 336854C
"~/Desktop/temperature-readings-tiny.csv" 10000L, 336854C written
>87="~/Desktop/precipitation-readings-tiny.csv" 10000L, 330001C
"~/Desktop/precipitation-readings-tiny.csv" 10000L, 330001C written
>8

In [ ]:
# Remove UTF-8 BOM
'''
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings-tiny.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings-tiny.csv
'''

In [2]:
path = "/Users/phillipholscher/Desktop/temperature-readings-tiny.csv"
path_unifolder = "/Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2temperature-readings-tiny.csv"

### Assignment 1
- What are the lowest and highest temperatures measured each year for the period 1950-2014. Provide the lists sorted in the descending order with respect to the maximum temperature. In this exercise you will use the temperature-readings.csv file.

In [3]:
from pyspark import SparkContext 
import pyspark

In [4]:
sc = SparkContext(appName= "Lab_BDA1")

Py4JJavaError: An error occurred while calling None.org.apache.spark.api.java.JavaSparkContext.
: java.lang.AssertionError: assertion failed: Expected hostname (not IP) but got fe80:0:0:0:619:1c79:9e10:ad28%10
	at scala.Predef$.assert(Predef.scala:170)
	at org.apache.spark.util.Utils$.checkHost(Utils.scala:982)
	at org.apache.spark.util.RpcUtils$.makeDriverRef(RpcUtils.scala:31)
	at org.apache.spark.executor.Executor.<init>(Executor.scala:155)
	at org.apache.spark.scheduler.local.LocalEndpoint.<init>(LocalSchedulerBackend.scala:59)
	at org.apache.spark.scheduler.local.LocalSchedulerBackend.start(LocalSchedulerBackend.scala:126)
	at org.apache.spark.scheduler.TaskSchedulerImpl.start(TaskSchedulerImpl.scala:164)
	at org.apache.spark.SparkContext.<init>(SparkContext.scala:500)
	at org.apache.spark.api.java.JavaSparkContext.<init>(JavaSparkContext.scala:58)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)

In [5]:
# read the file
temp  = sc.textFile(path)
lines = temp.map(lambda line: line.split(";"))

NameError: name 'sc' is not defined

In [5]:
# create a list with year and temperature
year_temperature = lines.map(lambda x: (x[1][0:4], float(x[3])))
year_temperature_timeinterval = year_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

In [6]:
# get the max temperature 
max_temperature = year_temperature_timeinterval.reduceByKey(lambda a,b: a if a>=b else b)
max_temperature_sort = max_temperature.sortBy(ascending = False, keyfunc = lambda k: k[1])

In [7]:
# get the min temperature
min_temperature = year_temperature_timeinterval.reduceByKey(lambda a,b: a if a<=b else b)
min_temperature_sort = min_temperature.sortBy(ascending = True, keyfunc = lambda k: k[1])

In [8]:
# print the first 10 - max
n = 10
print("This are the first {} of the max temperature: ".format(n))
max_temperature_sort.take(n)

This are the first 10 of the max temperature:

[('2014', 29.1),
 ('1960', 29.0),
 ('1959', 28.2),
 ('1958', 28.1),
 ('1956', 26.0),
 ('1957', 25.2),
 ('1955', 20.4),
 ('1961', 19.0),
 ('2013', 10.2)]

In [9]:
# print the first 10 - min
print("This are the first {} of the min temperature: ".format(n))
min_temperature_sort.take(n)

This are the first 10 of the min temperature:

[('1956', -30.0),
 ('1960', -28.3),
 ('1958', -27.9),
 ('1955', -26.2),
 ('2014', -24.3),
 ('1961', -23.5),
 ('1959', -23.2),
 ('1957', -19.9),
 ('2013', -13.3)]

- a) Extend the program to include the station number (not the station name) where the maximum/minimum temperature was measured.

In [15]:
# create a list with station & year and temperature
year_temperature_station = lines.map(lambda x: (x[1][0:4], (float(x[3]), x[0])))

# later on we use reduce by key - we have to create a key (year) by using a nested tuple
year_temperature_timeinterval_station = year_temperature_station.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

In [16]:
# get the first 10 year, temperature & station 
year_temperature_timeinterval_station.take(5)

[('2013', (6.8, '102170')),
 ('2013', (3.8, '102170')),
 ('2013', (5.8, '102170')),
 ('2013', (-1.1, '102170')),
 ('2013', (-0.2, '102170'))]

In [17]:
# get the max temperature including the station number
max_temperature_station = year_temperature_timeinterval_station.reduceByKey(lambda a,b: a if a>=b else b)
max_temperature_station_sort = max_temperature_station.sortBy(ascending = False, keyfunc = lambda k: k[1][0])

# get the min temperature including the station number
min_temperature_station = year_temperature_timeinterval_station.reduceByKey(lambda a,b: a if a<=b else b)
min_temperature_station_sort = min_temperature_station.sortBy(ascending = True, keyfunc = lambda k: k[1][0])

In [18]:
# print the first 10 - max
n = 10
print("This are the first {} of the max temperature including the station number: ".format(n))
max_temperature_station_sort.take(n)

This are the first 10 of the max temperature including the station number:

[('2014', (29.1, '102170')),
 ('1960', (29.0, '102190')),
 ('1959', (28.2, '102190')),
 ('1958', (28.1, '102190')),
 ('1956', (26.0, '102190')),
 ('1957', (25.2, '102190')),
 ('1955', (20.4, '102190')),
 ('1961', (19.0, '102190')),
 ('2013', (10.2, '102170'))]

In [19]:
# print the first 10 - min
print("This are the first {} of the min temperature including the station number: ".format(n))
min_temperature_station_sort.take(n)

This are the first 10 of the min temperature including the station number:

[('1956', (-30.0, '102190')),
 ('1960', (-28.3, '102190')),
 ('1958', (-27.9, '102190')),
 ('1955', (-26.2, '102190')),
 ('2014', (-24.3, '102170')),
 ('1961', (-23.5, '102190')),
 ('1959', (-23.2, '102190')),
 ('1957', (-19.9, '102190')),
 ('2013', (-13.3, '102170'))]

- b) (not for the SparkSQL lab) Write the non-parallelized program in Python to find the maximum temperatures for each year without using Spark. In this case you will run the program using:
python script.py
This program will read the local file (not from HDFS). The local file is available under /nfshome/hadoop_examples/shared_data/temperatures-big.csv.
How does the runtime compare to the Spark version? Use logging (add the --conf spark.eventLog.enabled=true flag) to check the execution of the Spark program. Repeat the exercise, this time using temperatures-big.csv file available on hdfs. Explain the differences and try to reason why such runtimes were observed.

In [5]:
import csv
import time

start = time.time()

maxTemp = {}
minTemp = {}

# Expand the list.
for i in range(1950,2015):
    maxTemp[i] = (-100, "")
    minTemp[i] = (+100, "")


with open(path) as f:
    
    for line in f:
        values = line.split(";")
        year = int(values[1][:4])

        if year >= 1950 and year <= 2014:
            if maxTemp[year][0] < float(values[3]):
                maxTemp[year] = (float(values[3]), values[0])
            if minTemp[year][0] > float(values[3]):
                minTemp[year] = (float(values[3]), values[0])


maxTempSorted = sorted(maxTemp.items(), key = lambda tup: tup[1][0], reverse=True)
minTempSorted = sorted(minTemp.items(), key = lambda tup: tup[1][0], reverse=True)


print("Max Temp")
print("\n".join(map(str, maxTempSorted)))

print("Min Temp")
print("\n".join(map(str, minTempSorted)))


print("Time:")
print(time.time()-start)

Max Temp
(2014, (29.1, '102170'))
(1960, (29.0, '102190'))
(1959, (28.2, '102190'))
(1958, (28.1, '102190'))
(1956, (26.0, '102190'))
(1957, (25.2, '102190'))
(1955, (20.4, '102190'))
(1961, (19.0, '102190'))
(2013, (10.2, '102170'))
(1950, (-100, ''))
(1951, (-100, ''))
(1952, (-100, ''))
(1953, (-100, ''))
(1954, (-100, ''))
(1962, (-100, ''))
(1963, (-100, ''))
(1964, (-100, ''))
(1965, (-100, ''))
(1966, (-100, ''))
(1967, (-100, ''))
(1968, (-100, ''))
(1969, (-100, ''))
(1970, (-100, ''))
(1971, (-100, ''))
(1972, (-100, ''))
(1973, (-100, ''))
(1974, (-100, ''))
(1975, (-100, ''))
(1976, (-100, ''))
(1977, (-100, ''))
(1978, (-100, ''))
(1979, (-100, ''))
(1980, (-100, ''))
(1981, (-100, ''))
(1982, (-100, ''))
(1983, (-100, ''))
(1984, (-100, ''))
(1985, (-100, ''))
(1986, (-100, ''))
(1987, (-100, ''))
(1988, (-100, ''))
(1989, (-100, ''))
(1990, (-100, ''))
(1991, (-100, ''))
(1992, (-100, ''))
(1993, (-100, ''))
(1994, (-100, ''))
(1995, (-100, ''))
(1996, (-100, ''))
(1997, (-100, ''))
(1998, (-100, ''))
(1999, (-100, ''))
(2000, (-100, ''))
(2001, (-100, ''))
(2002, (-100, ''))
(2003, (-100, ''))
(2004, (-100, ''))
(2005, (-100, ''))
(2006, (-100, ''))
(2007, (-100, ''))
(2008, (-100, ''))
(2009, (-100, ''))
(2010, (-100, ''))
(2011, (-100, ''))
(2012, (-100, ''))
Min Temp
(1950, (100, ''))
(1951, (100, ''))
(1952, (100, ''))
(1953, (100, ''))
(1954, (100, ''))
(1962, (100, ''))
(1963, (100, ''))
(1964, (100, ''))
(1965, (100, ''))
(1966, (100, ''))
(1967, (100, ''))
(1968, (100, ''))
(1969, (100, ''))
(1970, (100, ''))
(1971, (100, ''))
(1972, (100, ''))
(1973, (100, ''))
(1974, (100, ''))
(1975, (100, ''))
(1976, (100, ''))
(1977, (100, ''))
(1978, (100, ''))
(1979, (100, ''))
(1980, (100, ''))
(1981, (100, ''))
(1982, (100, ''))
(1983, (100, ''))
(1984, (100, ''))
(1985, (100, ''))
(1986, (100, ''))
(1987, (100, ''))
(1988, (100, ''))
(1989, (100, ''))
(1990, (100, ''))
(1991, (100, ''))
(1992, (100, ''))
(1993, (100, ''))
(1994, (100, ''))
(1995, (100, ''))
(1996, (100, ''))
(1997, (100, ''))
(1998, (100, ''))
(1999, (100, ''))
(2000, (100, ''))
(2001, (100, ''))
(2002, (100, ''))
(2003, (100, ''))
(2004, (100, ''))
(2005, (100, ''))
(2006, (100, ''))
(2007, (100, ''))
(2008, (100, ''))
(2009, (100, ''))
(2010, (100, ''))
(2011, (100, ''))
(2012, (100, ''))
(2013, (-13.3, '102170'))
(1957, (-19.9, '102190'))
(1959, (-23.2, '102190'))
(1961, (-23.5, '102190'))
(2014, (-24.3, '102170'))
(1955, (-26.2, '102190'))
(1958, (-27.9, '102190'))
(1960, (-28.3, '102190'))
(1956, (-30.0, '102190'))
Time:
0.08859992027282715

In [30]:
# create the same output as before 
# use pandas to do all operations

import pandas as pd

tempdata = pd.read_csv(path, sep=';',header=None)
tempdata = tempdata.rename(columns={0:"Station", 1:"Year", 2:"Time", 3:"Temperature", 4:"Quality"})

In [31]:
# steps: 
# 1. reduce the df (years, temp)
# 2. sort from max to min & min to max
# 3. reduce by the years (just the max vlaue of each year)
# 4. repeat with df (years, temp, station number)

# step 1
tempdata_year_temp = tempdata[["Year", "Temperature"]]
tempdata_year_temp["Year"] = pd.DatetimeIndex(tempdata['Year']).year # get just the year from the whole data

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [32]:
# step 2 
# sort from max to min
tempdata_year_temp_max = tempdata_year_temp.sort_values("Temperature" , ascending=False)

n = 10 # print the first 10 rows
print("This are the first {} of the max temperature: ".format(n))
tempdata_year_temp_max.head(n)

This are the first 10 of the max temperature:

      Year  Temperature
529   2014         29.1
8816  1960         29.0
535   2014         28.7
7579  1959         28.2
501   2014         28.2
5934  1958         28.1
527   2014         28.0
8967  1960         28.0
5927  1958         27.6
5938  1958         27.6

In [33]:
# sort from min to max
tempdata_year_temp_min = tempdata_year_dc.sort_values("Temperature" , ascending=True)
n = 10 # print the first 10 rows
print("This are the first {} of the min temperature: ".format(n))
tempdata_year_temp_min.head(n)

NameError: name 'tempdata_year_dc' is not defined

In [34]:
# step 4
tempdata_year_temp_station = tempdata[["Year", "Temperature", "Station"]]
tempdata_year_temp_station["Year"] = pd.DatetimeIndex(tempdata['Year']).year 


tempdata_year_temp_station_max = tempdata_year_temp_station.sort_values("Temperature" , ascending=False)

n = 10 # print the first 10 rows
print("This are the first {} of the max temperature: ".format(n))
tempdata_year_temp_station_max.head(n)

This are the first 10 of the max temperature:

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

      Year  Temperature  Station
529   2014         29.1   102170
8816  1960         29.0   102190
535   2014         28.7   102170
7579  1959         28.2   102190
501   2014         28.2   102170
5934  1958         28.1   102190
527   2014         28.0   102170
8967  1960         28.0   102190
5927  1958         27.6   102190
5938  1958         27.6   102190

In [35]:
tempdata_year_temp_station_min = tempdata_year_temp_station.sort_values("Temperature" , ascending=True)

n = 10 # print the first 10 rows
print("This are the first {} of the max temperature: ".format(n))
tempdata_year_temp_station_min.head(n)

This are the first 10 of the max temperature:

      Year  Temperature  Station
2432  1956        -30.0   102190
2431  1956        -29.0   102190
8288  1960        -28.3   102190
5434  1958        -27.9   102190
2468  1956        -27.0   102190
2436  1956        -26.2   102190
2279  1955        -26.2   102190
5426  1958        -25.6   102190
2277  1955        -25.6   102190
1618  2016        -25.5   102170

## Comment to 1b):
- This part (1.b) needs to be saved as .py! 
- Run script + check run time 
- Compare run time with part 1a)

### Assignment 2
- Count the number of readings for each month in the period of 1950-2014 which are higher than 10 degrees. Repeat the exercise, this time taking only distinct readings from each station. That is, if a station reported a reading above 10 degrees in some month, then it appears only once in the count for that month.
In this exercise you will use the temperature-readings.csv file. The output should contain the following information:
Year, month, count

In [42]:
# final code for exercise 2
y = lines.map(lambda x: ( (x[1][0:4],x[1][5:7]),float(x[3]) ))

y = y.filter(lambda x: int(x[0][0]) >= 1950 and int(x[0][0]) <= 2014)

#############################
tempsOver= y.filter(lambda x : x[1] >= 10)

tempsOver_unpack=tempsOver.map(lambda x: ( (x[0][0], x[0][1]),1))

tempsOver10=tempsOver_unpack.reduceByKey(lambda x,y : x+y).sortByKey()
tempsOver10.take(20)

[(('1955', '09'), 55),
 (('1955', '10'), 23),
 (('1956', '03'), 4),
 (('1956', '04'), 7),
 (('1956', '05'), 60),
 (('1956', '06'), 92),
 (('1956', '07'), 108),
 (('1956', '08'), 84),
 (('1956', '09'), 54),
 (('1956', '10'), 17),
 (('1957', '03'), 1),
 (('1957', '04'), 13),
 (('1957', '05'), 46),
 (('1957', '06'), 72),
 (('1957', '07'), 109),
 (('1957', '08'), 96),
 (('1957', '09'), 43),
 (('1957', '10'), 9),
 (('1958', '04'), 4),
 (('1958', '05'), 40)]

In [43]:
tempsOver_unpack1=tempsOver_unpack.distinct()
tempsOver_unpack1.take(10)

[(('2013', '11'), 1),
 (('2014', '04'), 1),
 (('2014', '08'), 1),
 (('2014', '11'), 1),
 (('1955', '09'), 1),
 (('1955', '10'), 1),
 (('1956', '04'), 1),
 (('1956', '08'), 1),
 (('1957', '04'), 1),
 (('1957', '08'), 1)]

__ Just play arounds __

In [31]:
# create a list with year month and temperature + 1
year_temperature = lines.map(lambda x: (x[1][0:4], x[1][5:7], float(x[3]), 1))
year_temperature_timeinterval = year_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014 and x[2] > 10)
#year_temperature_timeinterval_temp = year_temperature_timeinterval.filter(lambda x: int(x[0][1][1]) >10)
year_temperature_timeinterval.take(10)

[('2013', '11', 10.2, 1),
 ('2014', '04', 12.1, 1),
 ('2014', '04', 13.1, 1),
 ('2014', '04', 14.7, 1),
 ('2014', '04', 15.8, 1),
 ('2014', '04', 11.8, 1),
 ('2014', '04', 13.3, 1),
 ('2014', '04', 15.5, 1),
 ('2014', '04', 16.6, 1),
 ('2014', '04', 17.3, 1)]

In [32]:
# test just with year and month + 1
year_temperature_test = lines.map(lambda x: (x[1][0:4], x[1][5:7], float(x[3]), 1))
year_temperature_timeinterval_test = year_temperature_test.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014 and x[2] > 10)
year_temperature_timeinterval_test = year_temperature_timeinterval_test.map(lambda x: (int(x[0]), int(x[1]), 1))
year_temperature_timeinterval_test.take(10)

[(2013, 11, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1),
 (2014, 4, 1)]

In [33]:
# test just with year and month + 1
year_temperature_test = lines.map(lambda x: (x[1][0:4], x[1][5:7], float(x[3]), 1))
year_temperature_timeinterval_test = year_temperature_test.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014 and x[2] > 10)
year_temperature_timeinterval_test = year_temperature_timeinterval_test.map(lambda x: ((int(x[0]), int(x[1])), 1))
year_temperature_timeinterval_test.take(10)

[((2013, 11), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1),
 ((2014, 4), 1)]

In [23]:
year_temperature_timeinterval_test = year_temperature_timeinterval_test.sortByKey()
year_temperature_timeinterval_test.reduceByKey(lambda x,y: x+y).collect()

[((1955, 9), 55),
 ((1956, 4), 5),
 ((1956, 6), 88),
 ((1956, 8), 79),
 ((1956, 10), 16),
 ((1957, 3), 1),
 ((1957, 5), 43),
 ((1957, 7), 109),
 ((1957, 9), 41),
 ((1958, 4), 4),
 ((1958, 6), 89),
 ((1958, 8), 96),
 ((1958, 10), 31),
 ((1959, 5), 57),
 ((1959, 7), 111),
 ((1959, 9), 56),
 ((1960, 4), 9),
 ((1960, 6), 108),
 ((1960, 8), 98),
 ((1960, 10), 2),
 ((1961, 3), 6),
 ((1961, 5), 39),
 ((2013, 11), 1),
 ((2014, 4), 9),
 ((2014, 6), 54),
 ((2014, 8), 56),
 ((2014, 10), 17),
 ((1955, 10), 22),
 ((1956, 3), 4),
 ((1956, 5), 56),
 ((1956, 7), 107),
 ((1956, 9), 51),
 ((1957, 4), 13),
 ((1957, 6), 72),
 ((1957, 8), 96),
 ((1957, 10), 9),
 ((1958, 5), 39),
 ((1958, 7), 110),
 ((1958, 9), 57),
 ((1959, 4), 9),
 ((1959, 6), 94),
 ((1959, 8), 101),
 ((1959, 10), 9),
 ((1960, 3), 1),
 ((1960, 5), 65),
 ((1960, 7), 110),
 ((1960, 9), 56),
 ((1961, 4), 20),
 ((2014, 5), 31),
 ((2014, 7), 62),
 ((2014, 9), 25),
 ((2014, 11), 1)]

In [24]:
year_temperature_timeinterval_test = year_temperature_timeinterval_test.reduceByKey(lambda y: x[1]+y[1])
year_temperature_timeinterval_test.take(10)

Py4JJavaError: An error occurred while calling z:org.apache.spark.api.python.PythonRDD.runJob.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 71.0 failed 1 times, most recent failure: Lost task 0.0 in stage 71.0 (TID 75, localhost, executor driver): org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 2457, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 2457, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 370, in func
    return f(iterator)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 1876, in combineLocally
    merger.mergeValues(iterator)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py", line 239, in mergeValues
    d[k] = comb(d[k], v) if k in d else creator(v)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
TypeError: <lambda>() takes 1 positional argument but 2 were given

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1126)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	at java.lang.Thread.run(Thread.java:748)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.org$apache$spark$scheduler$DAGScheduler$$failJobAndIndependentStages(DAGScheduler.scala:1602)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1590)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$abortStage$1.apply(DAGScheduler.scala:1589)
	at scala.collection.mutable.ResizableArray$class.foreach(ResizableArray.scala:59)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:1589)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGScheduler$$anonfun$handleTaskSetFailed$1.apply(DAGScheduler.scala:831)
	at scala.Option.foreach(Option.scala:257)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:831)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:1823)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1772)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:1761)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:48)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:642)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2034)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2055)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2074)
	at org.apache.spark.api.python.PythonRDD$.runJob(PythonRDD.scala:149)
	at org.apache.spark.api.python.PythonRDD.runJob(PythonRDD.scala)
	at sun.reflect.GeneratedMethodAccessor44.invoke(Unknown Source)
	at sun.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.lang.reflect.Method.invoke(Method.java:498)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.lang.Thread.run(Thread.java:748)
Caused by: org.apache.spark.api.python.PythonException: Traceback (most recent call last):
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 230, in main
    process()
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/worker.py", line 225, in process
    serializer.dump_stream(func(split_index, iterator), outfile)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 2457, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 2457, in pipeline_func
    return func(split, prev_func(split, iterator))
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 370, in func
    return f(iterator)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/rdd.py", line 1876, in combineLocally
    merger.mergeValues(iterator)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/python/lib/pyspark.zip/pyspark/shuffle.py", line 239, in mergeValues
    d[k] = comb(d[k], v) if k in d else creator(v)
  File "/anaconda3/lib/python3.6/site-packages/pyspark/util.py", line 55, in wrapper
    return f(*args, **kwargs)
TypeError: <lambda>() takes 1 positional argument but 2 were given

	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.handlePythonException(PythonRunner.scala:298)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:438)
	at org.apache.spark.api.python.PythonRunner$$anon$1.read(PythonRunner.scala:421)
	at org.apache.spark.api.python.BasePythonRunner$ReaderIterator.hasNext(PythonRunner.scala:252)
	at org.apache.spark.InterruptibleIterator.hasNext(InterruptibleIterator.scala:37)
	at scala.collection.Iterator$GroupedIterator.fill(Iterator.scala:1126)
	at scala.collection.Iterator$GroupedIterator.hasNext(Iterator.scala:1132)
	at scala.collection.Iterator$$anon$11.hasNext(Iterator.scala:408)
	at org.apache.spark.shuffle.sort.BypassMergeSortShuffleWriter.write(BypassMergeSortShuffleWriter.java:125)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:96)
	at org.apache.spark.scheduler.ShuffleMapTask.runTask(ShuffleMapTask.scala:53)
	at org.apache.spark.scheduler.Task.run(Task.scala:109)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:345)
	at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149)
	at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624)
	... 1 more

In [25]:
# create a list with year and temperature + add 1 to every row
year_month_temperature = lines.map(lambda x: (x[1][0:4], (x[1][5:7], x[3], 1))) # 1 - because, later in the exercise we want to count
# code with degrees - year_month_temperature = lines.map(lambda x: (x[1][0:4], (x[1][5:7], (float(x[3]), 1)))) # 1 - because, later in the exercise we want to count - do not need this
#year_month_temperature = year_month_temperature.filter(lambda x: x[1][1] > 10)
year_month_temperature = year_month_temperature.filter(lambda x: int(x[0][0]) >= 1950 and int(x[0][0]) <= 2014) # filter by year
#year_month_temperature = year_month_temperature.filter(lambda x: int(x[1][1]) > 10)
year_month_temperature.take(10)

[]

In [26]:
# Test with year 2013
year_month_temperature_test = lines.map(lambda x: (x[1][5:7], 1))
year_month_temperature.filter(lambda x: x[0] == "2013")
year_month_temperature_test.take(10)

[('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1),
 ('11', 1)]

In [27]:
year_month_temperature_test.reduceByKey(lambda x,y: x + y).collect()

[('12', 895),
 ('03', 891),
 ('05', 880),
 ('06', 773),
 ('07', 736),
 ('09', 809),
 ('10', 836),
 ('11', 867),
 ('01', 896),
 ('02', 820),
 ('04', 861),
 ('08', 736)]

In [187]:
year_month_temperature_test2 = lines.map(lambda x: (x[1][0:4], (x[1][5:7])))
year_month_temperature_test2.reduceByKey(lambda x,y: x + y).collect()

[('2013',
  '1111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('2014',
  '01010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030304040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040405050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080809090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090910101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('2015',
  '01010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030304040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040405050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080809090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090910101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('2016',
  '0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050506060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060607'),
 ('1956',
  '01010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050506060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909091010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101011111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1957',
  '0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010102020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050506060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060607070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070708080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1955',
  '090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1958',
  '0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010102020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060607070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909091010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101011111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111112121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1959',
  '01010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020203030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030304040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040405050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080809090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090910101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101011111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111112121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1960',
  '0101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202020202030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030303030404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040404040505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050505050506060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606060606070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070707070808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080808080909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909090909101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101010101111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111111121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212121212'),
 ('1961',

In [44]:
year_month_temperature.take(10)[1]

('2013', ('11', 1))

In [28]:
# filter by the year >=1950 & <= 2014 + temperature > 10
year_month_temperature_min10_timeinterval = year_month_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014 and x[2]> 10)
year_month_temperature_min10_timeinterval.take(10)

[]

### Assignment 3
- Find the average monthly temperature for each available station in Sweden. Your result should include average temperature for each station for each month in the period of 1960- 2014. Bear in mind that not every station has the readings for each month in this timeframe.

- In this exercise you will use the *temperature-readings.csv* file.

- The output should contain the following information: Year, month, station number, average monthly temperature

In [44]:
rdd = lines.map(lambda x: ( (x[1][0:4],x[1][5:7],x[1][8:10],x[0]),float(x[3]) ))

rdd = rdd.filter(lambda x: int(x[0][0]) >= 1960 and int(x[0][0]) <= 2014)

#############################

rdd=rdd.map(lambda x: ( (x[0][0],x[0][1],x[0][2], x[0][3]),float(x[1]) ) )

rdd.take(10)

[(('2013', '11', '01', '102170'), 6.8),
 (('2013', '11', '01', '102170'), 3.8),
 (('2013', '11', '02', '102170'), 5.8),
 (('2013', '11', '02', '102170'), -1.1),
 (('2013', '11', '03', '102170'), -0.2),
 (('2013', '11', '03', '102170'), 5.6),
 (('2013', '11', '04', '102170'), 6.5),
 (('2013', '11', '04', '102170'), 5.1),
 (('2013', '11', '05', '102170'), 4.2),
 (('2013', '11', '05', '102170'), 3.2)]

In [45]:
meanRDD = (rdd
           .mapValues(lambda x: (x, 1))
           .reduceByKey(lambda x, y: (x[0]+y[0], x[1]+y[1]))
           .mapValues(lambda x: x[0]/x[1]))
meanRDD.sortByKey(ascending=False).take(31)

[(('2014', '12', '31', '102170'), -7.05),
 (('2014', '12', '30', '102170'), -9.600000000000001),
 (('2014', '12', '29', '102170'), -12.8),
 (('2014', '12', '28', '102170'), -20.200000000000003),
 (('2014', '12', '27', '102170'), -21.05),
 (('2014', '12', '26', '102170'), -19.9),
 (('2014', '12', '25', '102170'), -18.65),
 (('2014', '12', '24', '102170'), -12.8),
 (('2014', '12', '23', '102170'), -11.850000000000001),
 (('2014', '12', '22', '102170'), -6.0),
 (('2014', '12', '21', '102170'), -10.0),
 (('2014', '12', '20', '102170'), -7.050000000000001),
 (('2014', '12', '19', '102170'), 0.20000000000000007),
 (('2014', '12', '18', '102170'), -3.2),
 (('2014', '12', '17', '102170'), -6.75),
 (('2014', '12', '16', '102170'), -0.45),
 (('2014', '12', '15', '102170'), 2.8),
 (('2014', '12', '14', '102170'), -1.2000000000000002),
 (('2014', '12', '13', '102170'), -1.85),
 (('2014', '12', '12', '102170'), 1.7000000000000002),
 (('2014', '12', '11', '102170'), 1.5),
 (('2014', '12', '10', '102170'), 1.75),
 (('2014', '12', '09', '102170'), -7.25),
 (('2014', '12', '08', '102170'), -2.9499999999999997),
 (('2014', '12', '07', '102170'), 3.8),
 (('2014', '12', '06', '102170'), -3.2),
 (('2014', '12', '05', '102170'), -0.35),
 (('2014', '12', '04', '102170'), -3.3),
 (('2014', '12', '03', '102170'), -2.7),
 (('2014', '12', '02', '102170'), -0.35000000000000003),
 (('2014', '12', '01', '102170'), -1.1)]

In [46]:
meanRDD.map(lambda x: ( (x[0][0],x[0][1],x[0][3]),x[1]) )\
.mapValues(lambda x: (x, 1))\
.reduceByKey(lambda x, y: (x[0]+y[0], x[1]+y[1]))\
.mapValues(lambda x: x[0]/x[1]).sortByKey(ascending=False).take(50)

[(('2014', '12', '102170'), -5.801612903225807),
 (('2014', '11', '102170'), 2.525),
 (('2014', '10', '102170'), 7.106451612903226),
 (('2014', '09', '102170'), 8.585),
 (('2014', '08', '102170'), 13.869354838709675),
 (('2014', '07', '102170'), 19.659677419354836),
 (('2014', '06', '102170'), 14.443333333333333),
 (('2014', '05', '102170'), 10.756451612903227),
 (('2014', '04', '102170'), 4.776666666666667),
 (('2014', '03', '102170'), 1.896774193548387),
 (('2014', '02', '102170'), 0.6749999999999999),
 (('2014', '01', '102170'), -4.106451612903226),
 (('2013', '12', '102170'), 0.7096774193548387),
 (('2013', '11', '102170'), -0.05166666666666663),
 (('1961', '05', '102190'), 10.61533333333333),
 (('1961', '04', '102190'), 4.507777777777778),
 (('1961', '03', '102190'), 2.708602150537634),
 (('1961', '02', '102190'), -2.1333333333333333),
 (('1961', '01', '102190'), -7.215053763440859),
 (('1960', '12', '102190'), -2.427419354838709),
 (('1960', '11', '102190'), -0.42999999999999994),
 (('1960', '10', '102190'), 2.0943548387096773),
 (('1960', '09', '102190'), 9.402222222222223),
 (('1960', '08', '102190'), 13.41989247311828),
 (('1960', '07', '102190'), 14.205645161290322),
 (('1960', '06', '102190'), 15.769722222222223),
 (('1960', '05', '102190'), 10.768548387096773),
 (('1960', '04', '102190'), 2.5100000000000002),
 (('1960', '03', '102190'), -2.2798387096774193),
 (('1960', '02', '102190'), -9.61810344827586),
 (('1960', '01', '102190'), -6.875)]

### Assignment 4
- Provide a list of stations with their associated maximum measured temperatures and maximum measured daily precipitation. Show only those stations where the maximum temperature is between 25 and 30 degrees and maximum daily precipitation is between 100 mm and 200mm.

- In this exercise you will use the *temperature-readings.csv* and *precipitation-readings.csv* files.

- The output should contain the following information: Station number, maximum measured temperature, maximum daily precipitation

In [47]:
path_A4 = "/Users/phillipholscher/Desktop/precipitation-readings.csv"

In [49]:
temp  = sc.textFile(path)
l = temp.map(lambda line: line.split(";"))

station_temperature = l.map(lambda x:( (x[0],x[1]) ,float(x[3])))

#station_temperature = station_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

max_temp_station= station_temperature.reduceByKey(lambda x,y :x if x>=y else y)

max_temp_station=max_temp_station.filter(lambda x: x[1]>=25. and x[1]<=30.)

max_temp_st=max_temp_station.map(lambda x: (x[0],float(x[1])))
max_temp_st.take(5)

[(('102170', '2014-07-22'), 28.0),
 (('102170', '2014-07-23'), 29.1),
 (('102170', '2014-07-26'), 28.7),
 (('102170', '2014-07-29'), 25.5),
 (('102170', '2015-07-01'), 26.8)]

In [50]:
prep=sc.textFile(path_A4)

L=prep.map(lambda line: line.split(";"))

st = L.map(lambda x: ( (x[0],x[1]) ,float(x[3])) )

max_st= st.reduceByKey(lambda x,y :x if x>=y else y)

max_st=max_st.filter(lambda x: x[1]>=10. and x[1]<=20.)

wst=max_st.map(lambda x: (x[0],float(x[1])))

wst.take(10)

[(('105220', '1997-07-01'), 18.7),
 (('105220', '2004-02-04'), 10.0),
 (('106570', '1997-06-10'), 12.8),
 (('106570', '2004-07-19'), 15.5),
 (('108320', '2010-06-30'), 10.0),
 (('114140', '2009-07-30'), 10.7),
 (('114140', '2012-08-26'), 11.5),
 (('114410', '2013-07-31'), 12.2),
 (('122260', '2010-08-03'), 10.1),
 (('123060', '1996-06-17'), 11.9)]

In [51]:
max_temp_st.join(wst).collect()

[]

### Assignment 5 
- Calculate the average monthly precipitation for the Östergotland region (list of stations is provided in the separate file) for the period 1993-2016. In order to do this, you will first need to calculate the total monthly precipitation for each station before calculating the monthly average (by averaging over stations).

- In this exercise you will use the *precipitation-readings.csv* and *stations-Ostergotland.csv* files. HINT (not for the SparkSQL lab): Avoid using joins here! stations-Ostergotland.csv is small and if distributed will cause a number of unnecessary shuffles when joined with precipitationRDD. If you distribute precipitation-readings.csv then either repartition your stations RDD to 1 partition or make use of the collect to acquire a python list and broadcast function to broadcast the list to all nodes.

- The output should contain the following information: Year, month, average monthly precipitation

In [52]:
path_A5stations = "/Users/phillipholscher/Desktop/stations-Ostergotland.csv"
path_A5precipitation = "/Users/phillipholscher/Desktop/precipitation-readings.csv"

In [53]:
stations=sc.textFile(path_A5stations)
precipitation=sc.textFile(path_A5precipitation)

stations=stations.map(lambda line: line.split(";"))
precipitation=precipitation.map(lambda line:line.split(";"))

In [54]:
RDD = precipitation.map(lambda x: ( (x[1][0:4],x[1][5:7],x[1][8:10],x[0]),float(x[3]) ))

RDD = RDD.filter(lambda x: int(x[0][0]) >= 1993 and int(x[0][0]) <= 2016)

#############################

#RDD_filtered=RDD.map(lambda x: (x[0][0],x[0][1], x[0][2],x[0][3],float(x[1]) ))

RDD.take(10)

[(('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0),
 (('1995', '08', '01', '103100'), 0.0)]

In [55]:
mRDD = (RDD
           .mapValues(lambda x: (x, 1))
           .reduceByKey(lambda x, y: (x[0]+y[0], x[1]+y[1]))
           .mapValues(lambda x: x[0]/x[1]))
mRDD.sortByKey(ascending=False).take(10)

[(('2016', '07', '01', '99280'), 0.014285714285714287),
 (('2016', '07', '01', '98490'), 0.09999999999999999),
 (('2016', '07', '01', '98040'), 0.0),
 (('2016', '07', '01', '97530'), 0.62),
 (('2016', '07', '01', '97510'), 0.26),
 (('2016', '07', '01', '97370'), 0.02),
 (('2016', '07', '01', '97100'), 0.34285714285714286),
 (('2016', '07', '01', '96560'), 0.24285714285714288),
 (('2016', '07', '01', '96190'), 0.0),
 (('2016', '07', '01', '95540'), 0.0)]

In [56]:
M=mRDD.map(lambda x: ( (x[0][0],x[0][1],x[0][3]),x[1]) )\
.mapValues(lambda x: (x, 1))\
.reduceByKey(lambda x, y: (x[0]+y[0], x[1]+y[1]))\
.mapValues(lambda x: x[0]/x[1]).sortByKey()
M.take(10)

[(('1993', '01', '154860'), 0.1295698924731183),
 (('1993', '01', '188790'), 0.017633333333333338),
 (('1993', '01', '97510'), 0.030277777777777775),
 (('1993', '02', '154860'), 0.033384387351778656),
 (('1993', '02', '188790'), 0.036128364389233954),
 (('1993', '02', '97510'), 0.02008281573498965),
 (('1993', '03', '154860'), 0.028341013824884784),
 (('1993', '03', '188790'), 0.07755921770297648),
 (('1993', '03', '97510'), 0.026113671274961593),
 (('1993', '04', '154860'), 0.006488957902001381)]

In [57]:
stations_ost=sc.textFile(path_A5stations)

stations_ost=stations_ost.map(lambda line: line.split(";"))
 
stations_ost=stations_ost.map(lambda x : x[0])
stations_ost.take(50)

['84260',
 '85630',
 '85460',
 '85450',
 '85490',
 '85650',
 '85390',
 '85410',
 '86470',
 '86440',
 '86420',
 '86340',
 '86350',
 '86360',
 '86370',
 '86200',
 '86330',
 '87140',
 '87150',
 '86130',
 '86090',
 '85280',
 '85250',
 '85240',
 '85270',
 '85220',
 '85210',
 '85180',
 '85040',
 '85050',
 '75520',
 '85160',
 '85600',
 '85130']

In [58]:
S=sc.broadcast(stations_ost.collect()).value

In [59]:
#M1.intersection(stations_ost).collect()
M.filter(lambda x: x[0][2] in S).take(100)

[(('1993', '04', '86340'), 0.0),
 (('1993', '05', '86340'), 0.028360215053763436),
 (('1993', '06', '86340'), 0.08851506786289397),
 (('1993', '07', '86340'), 0.12822580645161288),
 (('1993', '08', '86340'), 0.13591977466977462),
 (('1993', '09', '86340'), 0.05759920634920635),
 (('1993', '10', '86340'), 0.05815217391304348),
 (('1993', '11', '86340'), 0.05952020202020202),
 (('1993', '12', '86340'), 0.04989481065918653),
 (('1994', '01', '86340'), 0.0407169862273832),
 (('1994', '02', '86340'), 0.033709180312441175),
 (('1994', '03', '86340'), 0.05174230281172778),
 (('1994', '04', '86340'), 0.032956349206349204),
 (('1994', '05', '86340'), 0.03373655913978495),
 (('1994', '06', '86340'), 0.06393115942028986),
 (('1994', '07', '86340'), 0.0),
 (('1994', '08', '86340'), 0.08052155496054514),
 (('1994', '09', '86340'), 0.1336098852202971),
 (('1994', '10', '86340'), 0.044763908368396436),
 (('1994', '11', '86340'), 0.021805555555555557),
 (('1994', '12', '86340'), 0.06851332398316971),
 (('1995', '01', '86340'), 0.037009116409537156),
 (('1995', '02', '86340'), 0.04776432806324111),
 (('1995', '03', '86340'), 0.04652040339277365),
 (('1995', '04', '86340'), 0.08670893719806765),
 (('1995', '05', '86340'), 0.03780037400654511),
 (('1995', '06', '86340'), 0.13706529581529578),
 (('1995', '07', '86340'), 0.05860215053763441),
 (('1995', '08', '85460'), 0.03279569892473118),
 (('1995', '08', '86340'), 0.010612435717625058),
 (('1995', '09', '85460'), 0.23342000568343285),
 (('1995', '09', '86340'), 0.145518115942029),
 (('1995', '10', '85050'), 0.025672043010752685),
 (('1995', '10', '85460'), 0.05120884258331663),
 (('1995', '10', '86340'), 0.00913978494623656),
 (('1995', '11', '85050'), 0.06375007842399147),
 (('1995', '11', '85460'), 0.05710091382879988),
 (('1995', '11', '86340'), 0.11606481481481484),
 (('1995', '12', '75520'), 0.016314243088539765),
 (('1995', '12', '85050'), 0.00563973063973064),
 (('1995', '12', '85460'), 0.01757348900535584),
 (('1995', '12', '86340'), 0.0046014492753623185),
 (('1995', '12', '86420'), 0.011331667054173447),
 (('1995', '12', '87140'), 0.007992327365728899),
 (('1996', '01', '75520'), 0.013546131288066773),
 (('1996', '01', '85050'), 0.014544627555619711),
 (('1996', '01', '85460'), 0.01898128566560692),
 (('1996', '01', '86340'), 0.010992286115007015),
 (('1996', '01', '86420'), 0.02271464646464646),
 (('1996', '01', '87140'), 0.009158379021632877),
 (('1996', '02', '75520'), 0.018494324266438208),
 (('1996', '02', '85050'), 0.02464616176760105),
 (('1996', '02', '85460'), 0.018512237387799606),
 (('1996', '02', '86340'), 0.03132183908045977),
 (('1996', '02', '86420'), 0.03922240369502033),
 (('1996', '02', '87140'), 0.013622166189632457),
 (('1996', '03', '75520'), 0.00793010752688172),
 (('1996', '03', '85050'), 0.008709677419354838),
 (('1996', '03', '85460'), 0.022747222778779583),
 (('1996', '03', '86340'), 0.014516129032258063),
 (('1996', '03', '86420'), 0.023184261974584553),
 (('1996', '03', '87140'), 0.006121700879765397),
 (('1996', '04', '75520'), 0.003309814391050089),
 (('1996', '04', '85050'), 0.009694444444444445),
 (('1996', '04', '85460'), 0.021465744400527006),
 (('1996', '04', '86340'), 0.01728030303030303),
 (('1996', '04', '86420'), 0.017457729468599036),
 (('1996', '04', '87140'), 0.011323099415204678),
 (('1996', '05', '75520'), 0.09683263207106124),
 (('1996', '05', '85050'), 0.0858637213651239),
 (('1996', '05', '85460'), 0.10594323614948975),
 (('1996', '05', '86340'), 0.07348112966976922),
 (('1996', '05', '86420'), 0.11164801187592212),
 (('1996', '05', '87140'), 0.05142589995324917),
 (('1996', '06', '75520'), 0.08876811594202899),
 (('1996', '06', '85050'), 0.07522946859903382),
 (('1996', '06', '85460'), 0.07502817581393097),
 (('1996', '06', '86340'), 0.06694687558817994),
 (('1996', '06', '86420'), 0.08788537549407115),
 (('1996', '06', '87140'), 0.058894927536231885),
 (('1996', '07', '75520'), 0.13206605222734258),
 (('1996', '07', '85050'), 0.13393418759828293),
 (('1996', '07', '85460'), 0.08947086752589599),
 (('1996', '07', '86340'), 0.08960599973093512),
 (('1996', '07', '86420'), 0.13206020837507515),
 (('1996', '07', '87140'), 0.12916666666666665),
 (('1996', '08', '75520'), 0.08128054740957966),
 (('1996', '08', '85050'), 0.03508064516129032),
 (('1996', '08', '85460'), 0.0452753768585687),
 (('1996', '08', '86340'), 0.031780037400654514),
 (('1996', '08', '86420'), 0.07448671497584541),
 (('1996', '08', '87140'), 0.045652173913043485),
 (('1996', '09', '75520'), 0.049305555555555554),
 (('1996', '09', '85050'), 0.06167270531400966),
 (('1996', '09', '85460'), 0.08346583850931677),
 (('1996', '09', '86340'), 0.07571256038647343),
 (('1996', '09', '86420'), 0.13530248133509007),
 (('1996', '09', '87140'), 0.07723429951690822),
 (('1996', '10', '75520'), 0.02148989898989899),
 (('1996', '10', '85050'), 0.03323232323232323)]

### Assignment 6 
- Compare the average monthly temperature (find the difference) in the period 1950-2014 for all stations in Östergotland with long-term monthly averages in the period of 1950-1980. Make a plot of your results.
HINT: The first step is to find the monthly averages for each station. 
- Then, you can average over all stations to acquire the average temperature for a specific year and month. This RDD/Data Frame can be used to compute the long-term average by averaging over all the years in theinterval.

- The output should contain the following information: Year, month, difference