In [14]:
from pyspark import SparkContext, SparkConf

In [ ]:
"Working path"
#path /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2

In [23]:
# Remove UTF-8 BOM
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/stations-Ostergotland.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/stations.csv

7="~/Desktop/temperature-readings.csv" 64728769L, 2146781232C
"~/Desktop/temperature-readings.csv" 64728769L, 2146781232C written
>87="~/Desktop/precipitation-readings.csv" 20292769L, 661060228C
"~/Desktop/precipitation-readings.csv" 20292769L, 661060228C written
>87="~/Desktop/stations-Ostergotland.csv" [dos] 34L, 2860C
"~/Desktop/stations-Ostergotland.csv" [dos] 34L, 2860C written
>87="~/Desktop/stations.csv" 812L, 67697C
"~/Desktop/stations.csv" 812L, 67697C written
>8

In [20]:
# Remove UTF-8 BOM
'''
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/temperature-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/precipitation-readings.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/stations-Ostergotland.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/OneDrive - Linköpings universitet/LiU/Statistics and Machine Learning/Spring19T2/Big Data Analytics/Labs/Lab 2/stations.csv
'''

VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"
VIM - Vi IMproved 8.0 (2016 Sep 12, compiled Aug 17 2018 17:24:51)
Too many edit arguments: "-"
More info with: "vim -h"

In [24]:
# Remove UTF-8 BOM
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings-tiny.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings-tiny.csv

7="~/Desktop/temperature-readings-tiny.csv" 10000L, 336854C
"~/Desktop/temperature-readings-tiny.csv" 10000L, 336854C written
>87="~/Desktop/precipitation-readings-tiny.csv" 10000L, 330001C
"~/Desktop/precipitation-readings-tiny.csv" 10000L, 330001C written
>8

In [ ]:
# Remove UTF-8 BOM
'''
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/temperature-readings-tiny.csv
!vim -c ':set nobomb' -c ':set fileencoding=utf-8' -c ':wq' /Users/phillipholscher/Desktop/precipitation-readings-tiny.csv
'''

In [1]:
from pyspark.context import SparkContext,SparkConf
from pyspark.sql.session import SparkSession
sc = SparkContext.getOrCreate()
spark = SparkSession(sc)

In [2]:
# Print the version of SparkContext
print("The version of Spark Context in the PySpark shell is", sc.version)

# Print the Python version of SparkContext
print("The Python version of Spark Context in the PySpark shell is", sc.pythonVer)

# Print the master of SparkContext
print("The master of Spark Context in the PySpark shell is", sc.master)

The version of Spark Context in the PySpark shell is 2.3.1
The Python version of Spark Context in the PySpark shell is 3.6
The master of Spark Context in the PySpark shell is local[*]

In [3]:
import os
os.getcwd()

'C:\\Users\\quartermaine\\Documents\\Big Data Analytics Labs'

In [4]:
temp= sc.textFile("C:/Users/quartermaine/Documents/Big Data Analytics Labs/temperature-readings-tiny.csv", minPartitions =5)

temp_csv = spark.read.csv("temperature-readings-tiny.csv", header=False,sep=";")

In [5]:
df=temp_csv.selectExpr("_c0 as Station_number", "_c1 as Date", "_c2 as Time", "_c3 as Temperature","_c4 as Quality")
df.show()
df.printSchema()
print("The type of names_df is", type(df))
df.count()

+--------------+----------+--------+-----------+-------+
|Station_number|      Date|    Time|Temperature|Quality|
+--------------+----------+--------+-----------+-------+
|        102170|2013-11-01|06:00:00|        6.8|      G|
|        102170|2013-11-01|18:00:00|        3.8|      G|
|        102170|2013-11-02|06:00:00|        5.8|      G|
|        102170|2013-11-02|18:00:00|       -1.1|      G|
|        102170|2013-11-03|06:00:00|       -0.2|      G|
|        102170|2013-11-03|18:00:00|        5.6|      G|
|        102170|2013-11-04|06:00:00|        6.5|      G|
|        102170|2013-11-04|18:00:00|        5.1|      G|
|        102170|2013-11-05|06:00:00|        4.2|      G|
|        102170|2013-11-05|18:00:00|        3.2|      G|
|        102170|2013-11-06|06:00:00|        1.7|      G|
|        102170|2013-11-06|18:00:00|        0.9|      G|
|        102170|2013-11-07|06:00:00|       -0.1|      G|
|        102170|2013-11-07|18:00:00|        0.1|      G|
|        102170|2013-11-08|06:00:00|       -1.2|      G|
|        102170|2013-11-08|18:00:00|        5.3|      G|
|        102170|2013-11-09|06:00:00|        5.6|      G|
|        102170|2013-11-09|18:00:00|        3.8|      G|
|        102170|2013-11-10|06:00:00|        2.2|      G|
|        102170|2013-11-10|18:00:00|       -1.7|      G|
+--------------+----------+--------+-----------+-------+
only showing top 20 rows

root
 |-- Station_number: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Temperature: string (nullable = true)
 |-- Quality: string (nullable = true)

The type of names_df is <class 'pyspark.sql.dataframe.DataFrame'>

10000

In [6]:
import pyspark.sql.functions as f
tem1=df.filter( (f.year(df.Date)>=1950)).filter((f.year(df.Date)<=2014) )
tem1.orderBy(tem1.Date).show()
tem1.count()

+--------------+----------+--------+-----------+-------+
|Station_number|      Date|    Time|Temperature|Quality|
+--------------+----------+--------+-----------+-------+
|        102190|1955-09-01|18:00:00|       15.2|      Y|
|        102190|1955-09-01|12:00:00|       19.8|      Y|
|        102190|1955-09-01|06:00:00|       14.5|      Y|
|        102190|1955-09-02|06:00:00|       11.6|      Y|
|        102190|1955-09-02|18:00:00|       12.3|      Y|
|        102190|1955-09-02|12:00:00|       15.8|      Y|
|        102190|1955-09-03|12:00:00|       14.5|      Y|
|        102190|1955-09-03|18:00:00|       13.4|      Y|
|        102190|1955-09-03|06:00:00|       11.5|      Y|
|        102190|1955-09-04|18:00:00|       12.6|      Y|
|        102190|1955-09-04|12:00:00|       18.0|      Y|
|        102190|1955-09-04|06:00:00|        7.7|      Y|
|        102190|1955-09-05|12:00:00|       17.1|      Y|
|        102190|1955-09-05|18:00:00|       12.2|      Y|
|        102190|1955-09-05|06:00:00|        7.8|      Y|
|        102190|1955-09-06|12:00:00|       18.4|      Y|
|        102190|1955-09-06|18:00:00|       17.2|      Y|
|        102190|1955-09-06|06:00:00|       13.0|      Y|
|        102190|1955-09-07|18:00:00|       12.1|      Y|
|        102190|1955-09-07|12:00:00|       20.4|      Y|
+--------------+----------+--------+-----------+-------+
only showing top 20 rows

8905

In [91]:
# apply(get_stats).unstack()

# t=tem1.select(
#     year("Date").alias('year'),
#     "Temperature")
# t.groupBy('year').apply(get_stats).unstack()

In [7]:
newdf=tem1.select(f.year("Date").alias('year'),"Temperature")
#tem1.select(f.year(tem1.Date).alias('year'),tem1.Temperature)
#newdf = newdf.withColumn('year',
#        col('year').cast('int'))
newdf.orderBy(newdf.year).show()

+----+-----------+
|year|Temperature|
+----+-----------+
|1955|       14.5|
|1955|       12.1|
|1955|       19.8|
|1955|       15.2|
|1955|       11.6|
|1955|       15.8|
|1955|       12.3|
|1955|       11.5|
|1955|       14.5|
|1955|       13.4|
|1955|        7.7|
|1955|       18.0|
|1955|       12.6|
|1955|        7.8|
|1955|       17.1|
|1955|       12.2|
|1955|       13.0|
|1955|       18.4|
|1955|       17.2|
|1955|        7.0|
+----+-----------+
only showing top 20 rows

In [8]:
newdf.groupBy(newdf.year).agg(f.max(newdf.Temperature).alias("maxTemperature"),f.min(newdf.Temperature).alias("minTemperature")).show()

# dd = newdf.join(
#     a,
#     on = "year",
#     how = "inner"
# )
# dd.show()

# from pyspark.sql import Window
# import pyspark.sql.functions as F
# window = Window.partitionBy("year")
# a = newdf.withColumn(
#     (F.max(F.col("year")).over(window)).alias("max")
# )
# a.show()

+----+--------------+--------------+
|year|maxTemperature|minTemperature|
+----+--------------+--------------+
|1959|           9.8|          -0.1|
|1955|           9.9|          -0.2|
|1961|           9.8|          -0.2|
|2013|           8.9|          -0.1|
|1956|           9.9|          -0.1|
|2014|           9.9|          -0.1|
|1957|           9.9|          -0.1|
|1960|           9.9|          -0.1|
|1958|           9.8|          -0.1|
+----+--------------+--------------+

In [9]:
print("----Table with max temperatures per year---")
newdf.groupby('year').agg({'Temperature': 'max'}).orderBy('year').show()
print("----Table with min temperatures per year---")
newdf.groupby('year').agg({'Temperature': 'min'}).orderBy('year').show()

----Table with max temperatures per year---
+----+----------------+
|year|max(Temperature)|
+----+----------------+
|1955|             9.9|
|1956|             9.9|
|1957|             9.9|
|1958|             9.8|
|1959|             9.8|
|1960|             9.9|
|1961|             9.8|
|2013|             8.9|
|2014|             9.9|
+----+----------------+

----Table with min temperatures per year---
+----+----------------+
|year|min(Temperature)|
+----+----------------+
|1955|            -0.2|
|1956|            -0.1|
|1957|            -0.1|
|1958|            -0.1|
|1959|            -0.1|
|1960|            -0.1|
|1961|            -0.2|
|2013|            -0.1|
|2014|            -0.1|
+----+----------------+

**Assignments**


#### 1)What are the lowest and highest temperatures measured each year for the period 1950-2014. Provide the lists sorted in the descending order with respect to the maximum temperature. In this exercise you will use the temperature-readings.csv file.

In [10]:
lines = temp.map(lambda line: line.split(";"))

year_temperature = lines.map(lambda x: (x[1][0:4], float(x[3])))

year_temperature = year_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

max_temperatures= year_temperature.reduceByKey(lambda x,y :x if x>=y else y)

max_temperaturesSorted=max_temperatures.sortBy(ascending=False,keyfunc=lambda k:k[1])

max_temps=spark.createDataFrame(max_temperaturesSorted, schema=['Year', 'Temp'])

min_temperatures= year_temperature.reduceByKey(lambda x,y :x if x<=y else y)

min_temperaturesSorted=min_temperatures.sortBy(ascending=False,keyfunc=lambda k:k[1])

min_temps=spark.createDataFrame(min_temperaturesSorted, schema=['Year', 'Temp'])

In [11]:
print("----Table with max temperatures per year---")
max_temps.show()
print("----Table with min temperatures per year---")
min_temps.show()

----Table with max temperatures per year---
+----+----+
|Year|Temp|
+----+----+
|2014|29.1|
|1960|29.0|
|1959|28.2|
|1958|28.1|
|1956|26.0|
|1957|25.2|
|1955|20.4|
|1961|19.0|
|2013|10.2|
+----+----+

----Table with min temperatures per year---
+----+-----+
|Year| Temp|
+----+-----+
|2013|-13.3|
|1957|-19.9|
|1959|-23.2|
|1961|-23.5|
|2014|-24.3|
|1955|-26.2|
|1958|-27.9|
|1960|-28.3|
|1956|-30.0|
+----+-----+

question a

In [12]:
year_temp = lines.map(lambda x: (x[1][0:4],( float(x[3]),x[0])))

year_temp = year_temp.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

#############################
max_temperatures1= year_temp.reduceByKey(lambda x,y :x if x>=y else y)

max_temperaturesSorted1=max_temperatures1.sortBy(ascending=False,keyfunc=lambda k:k[1][0])

t=max_temperaturesSorted1.map(lambda x: (x[0], float(x[1][0]),x[1][1]))

max_temps1=spark.createDataFrame(t, schema=['Year', 'Temp','station_number'])

#############################

min_temperatures1= year_temp.reduceByKey(lambda x,y :x if x<=y else y)

min_temperaturesSorted1=min_temperatures1.sortBy(ascending=False,keyfunc=lambda k:k[1][0])

t1=min_temperaturesSorted1.map(lambda x: (x[0], float(x[1][0]),x[1][1]))

min_temps1=spark.createDataFrame(t1, schema=['Year', 'Temp','station_number'])

In [13]:
print("----Table with max temperatures per year---")
max_temps1.show()
print("----Table with min temperatures per year---")
min_temps1.show()

----Table with max temperatures per year---
+----+----+--------------+
|Year|Temp|station_number|
+----+----+--------------+
|2014|29.1|        102170|
|1960|29.0|        102190|
|1959|28.2|        102190|
|1958|28.1|        102190|
|1956|26.0|        102190|
|1957|25.2|        102190|
|1955|20.4|        102190|
|1961|19.0|        102190|
|2013|10.2|        102170|
+----+----+--------------+

----Table with min temperatures per year---
+----+-----+--------------+
|Year| Temp|station_number|
+----+-----+--------------+
|2013|-13.3|        102170|
|1957|-19.9|        102190|
|1959|-23.2|        102190|
|1961|-23.5|        102190|
|2014|-24.3|        102170|
|1955|-26.2|        102190|
|1958|-27.9|        102190|
|1960|-28.3|        102190|
|1956|-30.0|        102190|
+----+-----+--------------+

question b

In [14]:
import pandas as pd

dat=pd.read_csv("temperature-readings-tiny.csv",sep=';',header=None)
dat.columns = ['station_number', 'date','time','Temperature','quality']
print("first 5 rows")
dat.head(5)
# print("column names")
# dat.columns

first 5 rows

   station_number        date      time  Temperature quality
0          102170  2013-11-01  06:00:00          6.8       G
1          102170  2013-11-01  18:00:00          3.8       G
2          102170  2013-11-02  06:00:00          5.8       G
3          102170  2013-11-02  18:00:00         -1.1       G
4          102170  2013-11-03  06:00:00         -0.2       G

In [15]:
dt=dat[['station_number','date','Temperature']]
dt['year'] = pd.DatetimeIndex(dt['date']).year
dt.head()
dt.columns

C:\Users\quartermaine\Anaconda2\envs\python3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

Index(['station_number', 'date', 'Temperature', 'year'], dtype='object')

In [16]:
DT=dt[['station_number','year','Temperature']]
DT.head()

   station_number  year  Temperature
0          102170  2013          6.8
1          102170  2013          3.8
2          102170  2013          5.8
3          102170  2013         -1.1
4          102170  2013         -0.2

In [17]:
DT.groupby('year').agg({'Temperature': ['min', 'max']})

     Temperature
             min   max
year
1955       -26.2  20.4
1956       -30.0  26.0
1957       -19.9  25.2
1958       -27.9  28.1
1959       -23.2  28.2
1960       -28.3  29.0
1961       -23.5  19.0
2013       -13.3  10.2
2014       -24.3  29.1
2015       -19.6  26.8
2016       -25.5  25.8

#### 2)Count the number of readings for each month in the period of 1950-2014 which are higher than 10 degrees.Repeat the exercise,this time taking only distinct readings from each station. That is, if a station reported are a ding above 10 degrees in some month,then it appears only once in the count for that month.In this exercise you will use the temperature-readings.csvfile. 
#### The out put should contain the following information:Year, month, count

In [18]:
y = lines.map(lambda x: ( (x[1][0:4],x[1][5:7]),float(x[3]) ))

y = y.filter(lambda x: int(x[0][0]) >= 1950 and int(x[0][0]) <= 2014)

#############################
tempsOver= y.filter(lambda x : x[1] >= 10)

e=tempsOver.map(lambda x: (x[0][0], x[0][1],float(x[1]) ))

M=spark.createDataFrame(e, schema=['Year', 'Month','Temp'])

In [19]:
M.groupby("Year", "Month").agg(f.count('Temp').alias("cnt")).orderBy('Year','Month').show()

+----+-----+---+
|Year|Month|cnt|
+----+-----+---+
|1955|   09| 55|
|1955|   10| 23|
|1956|   03|  4|
|1956|   04|  7|
|1956|   05| 60|
|1956|   06| 92|
|1956|   07|108|
|1956|   08| 84|
|1956|   09| 54|
|1956|   10| 17|
|1957|   03|  1|
|1957|   04| 13|
|1957|   05| 46|
|1957|   06| 72|
|1957|   07|109|
|1957|   08| 96|
|1957|   09| 43|
|1957|   10|  9|
|1958|   04|  4|
|1958|   05| 40|
+----+-----+---+
only showing top 20 rows

#### 3)Find the average monthly temperature for each available station in Sweden. Your result should include average temperature for each station for each month in the period of 1960-2014. Bear in mind that not every station has the readings for each month in this timeframe.In this exercise you will use the temperature-readings.csvfile. 
#### Theoutputshouldcontainthefollowinginformation: Year, month, station number, average monthly temperature

In [20]:
yy = lines.map(lambda x: ( (x[1][0:4],x[1][5:7],x[0]),float(x[3]) ))

yy = yy.filter(lambda x: int(x[0][0]) >= 1960 and int(x[0][0]) <= 2014)

#############################

ee=yy.map(lambda x: (x[0][2],x[0][0], x[0][1],float(x[1]) ))

MM=spark.createDataFrame(ee, schema=['Station_number','Year', 'Month','Temp'])

In [21]:
MM.show()

+--------------+----+-----+----+
|Station_number|Year|Month|Temp|
+--------------+----+-----+----+
|        102170|2013|   11| 6.8|
|        102170|2013|   11| 3.8|
|        102170|2013|   11| 5.8|
|        102170|2013|   11|-1.1|
|        102170|2013|   11|-0.2|
|        102170|2013|   11| 5.6|
|        102170|2013|   11| 6.5|
|        102170|2013|   11| 5.1|
|        102170|2013|   11| 4.2|
|        102170|2013|   11| 3.2|
|        102170|2013|   11| 1.7|
|        102170|2013|   11| 0.9|
|        102170|2013|   11|-0.1|
|        102170|2013|   11| 0.1|
|        102170|2013|   11|-1.2|
|        102170|2013|   11| 5.3|
|        102170|2013|   11| 5.6|
|        102170|2013|   11| 3.8|
|        102170|2013|   11| 2.2|
|        102170|2013|   11|-1.7|
+--------------+----+-----+----+
only showing top 20 rows

In [22]:
MM.groupby( "Month","Station_number","Year")\
.agg( ((f.max('Temp')-f.min('Temp'))/62).alias("avg")).orderBy('Station_number','Month').show()

+-----+--------------+----+-------------------+
|Month|Station_number|Year|                avg|
+-----+--------------+----+-------------------+
|   01|        102170|2014|0.42258064516129035|
|   02|        102170|2014|0.22580645161290322|
|   03|        102170|2014|0.22903225806451616|
|   04|        102170|2014|0.39193548387096777|
|   05|        102170|2014| 0.3951612903225806|
|   06|        102170|2014| 0.2693548387096774|
|   07|        102170|2014|0.28064516129032263|
|   08|        102170|2014|0.30483870967741933|
|   09|        102170|2014| 0.3209677419354839|
|   10|        102170|2014| 0.3096774193548387|
|   11|        102170|2013| 0.3790322580645161|
|   11|        102170|2014| 0.3225806451612903|
|   12|        102170|2013|               0.35|
|   12|        102170|2014|  0.482258064516129|
|   01|        102190|1960|0.37580645161290316|
|   01|        102190|1961|0.42903225806451617|
|   02|        102190|1960|0.49838709677419357|
|   02|        102190|1961|0.47096774193548385|
|   03|        102190|1961|0.34516129032258064|
|   03|        102190|1960|0.44999999999999996|
+-----+--------------+----+-------------------+
only showing top 20 rows

#### 4) Provide  a  list  of  stations  with  their  associated  maximum  measured  temperatures  and maximum  measured  daily  precipitation.  Show  only  those  stations  where  the  maximum temperatureisbetween25and30degreesandmaximumdailyprecipitationisbetween100  mm  and  200mm.In  this  exercise  you  will  use  the temperature-readings.csvand precipitation-readings.csvfiles.Theoutputshouldcontainthefollowinginformation: Station number, maximum measured temperature, maximum daily precipitation
#### HINT: The correct result for this question should be empty

In [24]:
l = temp.map(lambda line: line.split(";"))

station_temperature = l.map(lambda x: (x[0], float(x[3])))

#station_temperature = station_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

max_temp_station= station_temperature.reduceByKey(lambda x,y :x if x>=y else y)

max_temp_station=max_temp_station.filter(lambda x: x[1]>=25. and x[1]<=30.)

w=max_temp_station.map(lambda x: (x[0],float(x[1]) ))

W=spark.createDataFrame(w, schema=['Station_number','Temp'])

In [25]:
W.show()

+--------------+----+
|Station_number|Temp|
+--------------+----+
|        102170|29.1|
|        102190|29.0|
+--------------+----+

In [33]:
prep=sc.textFile("precipitation-readings-tiny.csv")

L=prep.map(lambda line: line.split(";"))

st = L.map(lambda x: (x[0], float(x[3])))

#station_temperature = station_temperature.filter(lambda x: int(x[0]) >= 1950 and int(x[0]) <= 2014)

max_st= st.reduceByKey(lambda x,y :x if x>=y else y)

max_st=max_st.filter(lambda x: x[1]>=0.1 and x[1]<=0.2)

wst=max_st.map(lambda x: (x[0],float(x[1]) ))

WW=spark.createDataFrame(wst, schema=['Station_number','precipitation'])

WW.show()

ValueError: RDD is empty

In [31]:
# newRdd = lines.map(lambda x:(x[0])).join(L.map(lambda x:(x[0],(x[1],x[2]))))
# newRdd.map(lambda x:(x[1][0], x[0], x[1][1], x[1][1])).coalesce(1).collect()

In [30]:
rdd1 = l.map(lambda x: ( (x[1],x[0]),x[2], x[3]) )
rdd2 = L.map(lambda x: ( (x[1],x[0]),x[2],x[3]) )

rdd_join = rdd1.join(rdd2)
rdd_join.take(3)

[]

[]